{% extends "index.html" %}

{% block javascript %}
<script src="static/js/admin/roles.js" defer></script>
{% endblock %}

{% block content %}
<div class="rolesContainer">

    <div class="adminHeader">
        <button id="buttonUsers" class="navButton" onclick="users()">Users</button>
        <button id="buttonRoles" class="navButton" onclick="roles()">Roles</button>
    </div>

    <h1 class="contentTitle">Roles</h1>
    <table id="rolesTable" class="main">
        <tr>
            <th>Role ID</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </table>

</div>
{% endblock %}