{% extends "index.html" %}

{% block javascript %}
<script src="static/js/admin/role.js" defer></script>
{% endblock %}

{% block content %}
<div class="roleContainer">

    <h1 class="contentTitle">Role</h1>

    <div id="roleContent" class="main">
        <div class="formGroup">
            <label for="inputName">Name</label>
            <input id="inputName" type="text">
        </div>

        <div class="formGroup">

            <input id="roleCustomer" type="radio" name="role" value="customer" checked>
            <label for="roleCustomer">Customer</label>

            <input id="roleAgent" type="radio" name="role" value="agent">
            <label for="roleAgent">Agent</label>

            <input id="roleAdmin" type="radio" name="role" value="admin">
            <label for="roleAdmin">Admin</label>
        </div>

    </div>

    <div id="roleControlContainer" class="controlsContainer">
        <button id="cancelButton" class="formButton" onclick="cancel()">Cancel</button>
        <button id="saveButton" class="formButton" onclick="save()">Save</button>
    </div>

</div>
{% endblock %}