{% extends "index.html" %}

{% block javascript %}
<script src="static/js/admin/users.js" defer></script>
{% endblock %}

{% block content %}
<div class="usersContainer">

    <div class="adminHeader">
        <button id="buttonUsers" class="navButton" onclick="users()">Users</button>
        <button id="buttonRoles" class="navButton" onclick="roles()">Roles</button>
    </div>

    <h1 class="contentTitle">Users</h1>
    <table id="usersTable" class="main">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </table>

</div>


{% endblock %}