{% extends "index.html" %}

{% block javascript %}
<script src="static/js/admin/user.js" defer></script>
{% endblock %}

{% block content %}
<div class="userContainer">

    <button class="backButton" onclick="back()">Back</button>
    <h1 class="contentTitle">User</h1>

    <div id="userContent" class="main">
        <div class="formGroup">
            <label for="inputImage">Image</label>
            <input id="inputImage" type="file" capture>
        </div>

        <div class="formGroup">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" type="text" readOnly>
        </div>

        <div class="formGroup">
            <label for="inputPassword">New Password</label>
            <input id="inputPassword" type="password">
        </div>

        <div class="formGroup">
            <label for="inputPassword2">Confirm Password</label>
            <input id="inputPassword2" type="password">
        </div>

        <div class="formGroup">
            <label for="inputRole">Role</label>
            <select id="inputRole">
                <option value="customer">Customer</option>
                <option value="agent">Agent</option>
                <option value="admin">Admin</option>
            </select>
        </div>

    </div>

    <div id="userControlContainer" class="controlsContainer">
        <button id="cancelButton" class="formButton" onclick="cancel()">Cancel</button>
        <button id="saveButton" class="formButton" onclick="save()">Save</button>
    </div>

</div>

{% endblock %}