{% extends "index.html" %}

{% block javascript %}
<script src="static/js/account/account.js" defer></script>
{% endblock %}

{% block content %}
<div class="accountContainer">

    <h1 class="contentTitle">Account Settings</h1>

    <div id="accountContent" class="main">
        <div class="formGroup">
            <label for="inputImage">Image</label>
            <input id="inputImage" type="file" capture>
        </div>

        <div class="formGroup">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" type="text" readOnly>
        </div>

        <div class="formGroup">
            <label for="inputOldPassword">Old Password</label>
            <input id="inputOldPassword" type="password">
        </div>

        <div class="formGroup">
            <label for="inputPassword">New Password</label>
            <input id="inputPassword" type="password">
        </div>

        <div class="formGroup">
            <label for="inputPassword2">Confirm Password</label>
            <input id="inputPassword2" type="password">
        </div>

    </div>

    <div id="accountControlContainer" class="controlsContainer">
        <button id="cancelButton" class="formButton" onclick="cancel()">Cancel</button>
        <button id="saveButton" class="formButton" onclick="save()">Save</button>
    </div>

</div>
{% endblock %}