{% extends "index.html" %}

{% block javascript %}
<script src="static/js/account/login.js" defer></script>
{% endblock %}

{% block content %}
<div class="loginContainer">

    <h1 class="contentTitle">Login</h1>

    <div id="loginContent" class="main">
        <div class="formGroup">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" type="text">
        </div>

        <div class="formGroup">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password">
        </div>

        <div id="errorbox" class="formGroup">
            <p id="errorMessage"></p>
        </div>
    </div>

    <div id="loginControlContainer" class="controlsContainer">
        <button id="loginButton" class="formButton" onclick="login(event)">Login</button>
    </div>

</div>
{% endblock %}