{% extends "index.html" %}

{% block javascript %}
<script src="static/js/ticket/ticket.js" defer></script>
{% endblock %}

{% block content %}
<div class="ticketContainer">

    <button class="backButton" onclick="back()">Back</button>

    <div id="ticketHeader" class="contentTitle">
        <span id="ticketId">Ticket ID: </span>
        <span id="ticketTitle">Ticket Title: </span>
    </div>

    <button id="closeTicketButton" class="closeTicket" onclick="closeTicket()">Close Ticket</button>

    <div id="messageContainer" class="main">

    </div>

    <div id="sendMessageContainer" class="controlsContainer">
        <input type="text" id="messageInput">
        <button id="sendMessageButton" onclick="sendMessage()">Send Message</button>
    </div>

</div>

{% endblock %}