html, body {
  height: 100%;
  margin: 0;
  font-family: Verdana;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 80px;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 100px;
}

.row.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}

.row.footer {
  border-top: 1px solid black;
}

.navigation {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-grow: 10;
  padding: 0px 10px;
  flex-wrap: nowrap;
}

.navigation .navbar, .navigation .search {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.navButton {
  width: 100%;
}

.profile {
  flex-grow: 0;
  position: relative;
  display: inline-block;
}

.logo {
  flex-grow: 1;
}

button {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
}

.searchbar {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 0;
  min-width: 150px;
}

.dropdownContent button {
  display: block;
  width: 100%;
}

.show {
  display: block;
}

#buyButtonHome {
  position: absolute;
  top: 50%;
  left: 50%;
}

#homeImage {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.image {
  width: 100px;
  height: 100px;
}

#categorySelector {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#categoryTitle {
  padding-right: 10px;
}

#carTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.card {
  min-width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 150px
}

.card p {
  align-self: flex-start
}

.carContainer, .userContainer, .roleContainer, .accountContainer, .loginContainer, .registerContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: 5% auto 30%;
  grid-template-rows: 20% auto 10%;
  grid-template-areas: "back header header" ". main sidebar" ". footer sidebar";
  column-gap: 10px;
  row-gap: 10px;
}

.ticketContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: 5% auto 10%;
  grid-template-rows: 15% auto 15%;
  grid-template-areas: "back header controls" ". main sidebar" ". footer sidebar";
  column-gap: 10px;
  row-gap: 10px;
}

.usersContainer, .rolesContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: 5% auto 10%;
  grid-template-rows: 15% 15% auto 15%;
  grid-template-areas: "back admin ." ". header header" ". main sidebar" ". footer sidebar";
  column-gap: 10px;
  row-gap: 10px;
}

.backButton {
  grid-area: back;
}

.contentTitle {
  grid-area: header;
  margin-block: auto;
}

.main {
  grid-area: main;
  width: 100%;
  height: 100%;
}

.controlsContainer {
  grid-area: footer;
}

.closeTicket {
  grid-area: controls;
}

#carDescription {
  grid-area: sidebar;
  margin: 0px;
}

.orderContainer, .ticketsContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: auto;
  grid-template-rows: 10% auto;
  grid-template-areas: "header" "main";
  column-gap: 10px;
  row-gap: 10px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid black;
}

#orderTable, #ticketsTable, #usersTable, #rolesTable {
  height: auto;
  border-spacing: 0px;
}

#ticketHeader {
  display: flex;
  flex-direction: column;
}

#sendMessageContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#messageInput {
  width: 100%;
  margin-right: 10px;
  height: 100%;
}

input {
  font-family: inherit;
  height: 50px;
  font-size: 16px;
  box-sizing: border-box
}

.message {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.message.tri-right {
  text-align: right;
}

.message.tri-left {
  text-align: left;
}

.adminHeader {
  grid-area: admin;
}

#userControlContainer, #roleControlContainer, #accountControlContainer, #loginControlContainer, #registerControlContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.formButton {
  width: 100%;
}

#userContent, #roleContent, #accountContent, #loginContent, #registerContent {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}

.formGroup label {
  width: 20%;
  margin-block: auto;
}