{% extends "index.html" %}

{% block javascript %}
<script src="static/js/car/car.js" defer></script>
{% endblock %}

{% block content %}
<div class="contentHeader">
    <h1 id="carName">Test Car </h1>
    <button class="backButton" onclick="back()">Back</button>
</div>

<div class="detailsContainer">
    <div class="leftContiner">
        <img>

        <div class="controlsContainer">
            <button class="buyButton" onclick="buyCar()">Buy</button>
            <span class="price">10000$</span>
        </div>
    </div>

    <div class="rightContiner">
        <p class="description">Description</p>
    </div>
</div>
{% endblock %}