{% extends "index.html" %}

{% block javascript %}
<script src="static/js/car/car.js" defer></script>
{% endblock %}

{% block content %}
<div class="carContainer">

    <button class="backButton" onclick="back()">Back</button>
    <h2 id="carName" class="contentTitle">Test Car </h2>

    <img id="carDetailImage" class="image">

    <div class="controlsContainer">
        <button class="buyButton" onclick="buyCar()">Buy</button>
        <span class="price">10000$</span>
    </div>

    <p id="carDescription" class="description">Description</p>

</div>

{% endblock %}